﻿@using Znode.Engine.WebStore.ViewModels
@model CartViewModel
@{
    bool insufficientQuantity = (Model?.ShoppingCartItems?.Any(x => x.InsufficientQuantity)).GetValueOrDefault();
}
<div class="main-wrapper">
        <div class="container-fluid">
            <div class="col-lg-12 col-xs-12 mobile-no-padding">
                <div class="col-xs-12 nopadding shopping-cart mobile-no-padding">
                        <div id="divShoppingCart">@Html.Partial("_shoppingCart", Model)</div>
                </div>
            </div>              
        </div>
</div>
<script>
    window.onload = function () {
        if ('@insufficientQuantity' == 'True') {
            $("#checkOut-link").addClass('disable-anchor');
            $("#btnCompleteCheckout").addClass('disable-anchor');
            $("#paypal-express-checkout").addClass('disable-anchor');
        }
    }
</script>
