﻿@using Microsoft.AspNet.Identity
@using Znode.Engine.WebStore.ViewModels;
@using Znode.Libraries.ECommerce.Utilities;
@{bool IsLoginUser = Convert.ToBoolean(SessionProxyHelper.IsLoginUser());
    UserViewModel userModel = SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey);
}
@if (Request.IsAuthenticated || IsLoginUser)
{
    string DisplayName = User.Identity.GetUserName() == "" ? userModel?.Email : User.Identity.GetUserName();
    var Firstname = TempData.Peek("FirstName");
    TempData.Keep("FirstName");
    if (Firstname != null || Convert.ToString(Firstname) != "")
    {
        DisplayName = Convert.ToString(Firstname);
        <a href="/User/Dashboard" class="user-icon setfirst LoginUser" data-test-selector="linkUserIcon"><span class="hidden-xs">Hi,&nbsp;</span>@DisplayName</a>       
        <span style="color: #DB0D83;">&nbsp;-&nbsp;</span>
        <a href="/User/Logout" class="log-off totallign1 setfirst" id="log-off" data-test-selector="linkLogOff"> @WebStore_Resources.LabelLogoff</a>
    }
    else
    {
        <a href="javascript:void(0)" onclick="User.prototype.LoginMethod()" id="loginLink" class="setfirst" data-test-selector="linkLoginLink">@WebStore_Resources.LabelLoginStatus</a>
    }
}
else
{
    <a href="javascript:void(0)" onclick="User.prototype.LoginMethod()" id="loginLink" class="setfirst" data-test-selector="linkLoginLink">@WebStore_Resources.LabelLoginStatus</a>
}
