﻿@using Znode.Engine.WebStore.ViewModels
@model ShippingOptionListViewModel
@{
var ErrorMessage = @Model.HasError ? @Model.ErrorMessage : @WebStore_Resources.ErrorAddAddressShippingOption;
}

<div class="col-xs-12 nopadding">
<h3 class="title" id="shippingOptionSrNo">@WebStore_Resources.SinglePageCheckoutShippingMethod</h3>
<div id="loaderId"> </div>
<div class="col-xs-12 padding-15" id="shippingDiv">       
@using (Ajax.BeginForm("CartReview", "Checkout", new AjaxOptions() { UpdateTargetId = "cart-review-content", OnSuccess = "Checkout.prototype.ShippingErrorMessage();", OnBegin = "Checkout.prototype.ShowPaymentLoader();", OnComplete = "Checkout.prototype.HidePaymentLoader();", OnFailure = "Checkout.prototype.HidePaymentLoader();" }))
{
if (Model?.ShippingOptions?.Count > 0)
{
if (!Model.ShippingOptions.Any(x => x.IsSelected))
{
Model.ShippingOptions.FirstOrDefault(x => x.IsSelected = Model.IsB2BUser && Model.OmsQuoteId > 0 ? true : false);
}

foreach (ShippingOptionViewModel option in Model.ShippingOptions)
{
string estimateDate = !string.IsNullOrEmpty(option.EstimateDate) ? " - (" + (@WebUtility.HtmlDecode(option.EstimateDate)) + ")" : string.Empty;
if (option.ShippingCode != "FreeShipping")
{
string originalShippingRate = !string.IsNullOrEmpty(option?.FormattedShippingRateWithoutDiscount) ? "{" + @WebUtility.HtmlDecode(option.FormattedShippingRateWithoutDiscount.ToString()) + "}" : string.Empty;
<div class="col-xs-12 nopadding styled-input">
@*<input type="radio" id="@option.ShippingCode.Replace(" ", " _")" data-shippingCode="@option.Description" name="ShippingOptions" value="@option.ShippingId" data-test-selector="@option.ShippingCode.Replace(" ", " _")" onclick="Checkout.prototype.CalculateShipping('@option.ClassName');" @( option.IsSelected ? "checked=checked" : "") />*@
<input type="radio" id="@option.ShippingCode.Replace(" ", " _")" data-shippingCode="@option.Description" name="ShippingOptions" value="@option.ShippingId" data-test-selector="@option.ShippingCode.Replace(" ", " _")" checked="checked" />
<label data-test-selector="lblShipping" for="@option.ShippingCode.Replace(" ", " _")">@WebUtility.HtmlDecode(option.Description)@estimateDate - @WebUtility.HtmlDecode(option.FormattedShippingRate) <strike class="error-msg">@originalShippingRate</strike></label>
</div>
}
else
{
<div class="col-xs-12 nopadding styled-input" style="display:none;">
<input data-test-selector="chkShippingOption" type="radio" id="@option.ShippingCode.Replace(" ", " _")" data-shippingCode="@option.Description" name="ShippingOptions" value="@option.ShippingId" @( option.IsSelected ? "checked=checked" : "") />
<label data-test-selector="lblShipping" for="@option.ShippingCode.Replace(" ", " _")">@WebUtility.HtmlDecode(option.Description)@estimateDate - @WebUtility.HtmlDecode(option.FormattedShippingRate)</label>
<input data-test-selector="txtFreeShipping" type="hidden" id="hdnIsFreeShipping" value="True" ShippingId="@option.ShippingId" name="@option.ShippingCode.Replace(" ", "_")" data-ShippingClassName="@option.ClassName" />
</div>
}
}
<div class="col-sm-12 Setbordernone nopadding" id="customerShippingDiv" style="display:none" name="CustomerShipping">
<div class="form-group">
<div class="col-sm-12 nopadding">
<div class="control-label">
@Html.LabelFor(model => model.AccountNumber, new { @class = "required" })
</div>
<div class="control-md">
@Html.TextBoxFor(model => model.AccountNumber, new { @maxLength = "100" })
<div id="errorAccountNumber" class="field-validation-error" style="display: none">@WebStore_Resources.ErrorAccountNumber</div>
</div>
</div>
</div>
<div class="form-group">
<div class="col-sm-12 nopadding">
<div class="control-label">
@Html.LabelFor(model => model.ShippingMethod, new { @class = "required" })
</div>
<div class="control-md">
@Html.TextBoxFor(model => model.ShippingMethod, new { @maxLength = "100" })
<div id="errorShippingMethod" class="field-validation-error" style="display: none">@WebStore_Resources.ErrorShippingMethod</div>
</div>
</div>
</div>
</div>
<input type="hidden" id="hndShippingclassName" value="" />
}
else
{
<span>@ErrorMessage</span>
}
<div id="message-freeshipping" class="success-msg" style="display:none;"><span>@WebStore_Resources.FreeShippingMessage</span></div>
}
</div>
</div>
