﻿@using System.Configuration;
@model Znode.Engine.WebStore.ViewModels.CartItemViewModel
@{
    int productId = Model.ParentProductId > 0 ? Model.ParentProductId : !string.IsNullOrEmpty(Model.ProductId) ? Convert.ToInt32(Model.ProductId) : 0;
    string _displayRemoveLink = Request.Path.Contains("Checkout") ? Model.IsAllowedTerritories ? "display:none" : "" : "";
    string cartDesc = Model.CartDescription.Replace("Awct_Size", "Size").Replace("Awct_Color", "Color");
    string ImagePath = Model.CustomText != null ? Model.CustomText : Model.ImagePath;
    string PersonaliseValues = "";
    string PersonaliseImages = "";

    string ProductSku = Model.SKU;

    string[] SplitSku = ProductSku.Split('_');
    string Sku = "";
    try
    { Sku = SplitSku[1]; }
    catch { }
   // Sku = Sku + " " + Model.ProductName;
Sku = Model.ProductName;

    //writen for the EstimateDate and ColorNum to show on Cart:start
    string ColorNum = ""; string EstimateDate = "",Overidedate = "";
    long stockQty = -1;long Needdays = 0;

    string Custom4Value = Model.Custom3 != null ? Model.Custom3 : string.Empty;
    if (Custom4Value != string.Empty)
    {
        string[] stringArray = Custom4Value?.Split('-');
        if (stringArray.Length > 1)
        {
              Needdays = Convert.ToInt64(stringArray[0]);//EstimateDate
			 //Nivi change for estimated ship date excluding sat, sun and add on product not getting the value in stringArray[0] as estimated ship date.
            //EstimateDate = DateTime.Now.AddDays(Needdays).ToString("MM/dd/yyyy");
			//if (Needdays >= 1000) { Needdays = 0; }
			if ((Equals(DateTime.Now.AddDays(Needdays).DayOfWeek, DayOfWeek.Saturday)))
            {

                EstimateDate = DateTime.Now.AddDays(Needdays + 2).ToString("MM/dd/yyyy");
            }
            else if ((Equals(DateTime.Now.AddDays(Needdays).DayOfWeek, DayOfWeek.Sunday)))
            {
                EstimateDate = DateTime.Now.AddDays(Needdays + 1).ToString("MM/dd/yyyy");
            }
            else
            {
                EstimateDate = DateTime.Now.AddDays(Needdays).ToString("MM/dd/yyyy");
            }
            ColorNum = "" + Convert.ToString(stringArray[1]);//ColorValue
            ColorNum = ColorNum.Replace("-", " - ");
			 if (stringArray.Length > 2)
            {
                stockQty = Convert.ToInt64(stringArray[3]);
				//Nivi change for estimated ship date excluding sat, sun and add on product not getting the value in stringArray[0] as estimated ship date.
              //Overidedate = DateTime.Now.AddDays(Convert.ToInt32(stringArray[2])).ToString("MM/dd/yyyy");
			  long Overridedays = Convert.ToInt64(stringArray[2]);
                if ((Equals(DateTime.Now.AddDays(Overridedays).DayOfWeek, DayOfWeek.Saturday)))
                {

                    Overidedate = DateTime.Now.AddDays(Overridedays + 2).ToString("MM/dd/yyyy");
                }
                else if ((Equals(DateTime.Now.AddDays(Overridedays).DayOfWeek, DayOfWeek.Sunday)))
                {
                    Overidedate = DateTime.Now.AddDays(Overridedays + 1).ToString("MM/dd/yyyy");
                }
                else
                {
                    Overidedate = DateTime.Now.AddDays(Overridedays).ToString("MM/dd/yyyy");
                }
                if (Model.Quantity > stockQty)
                {
                    EstimateDate = Overidedate;
                }
            }
        }
    }
    //writen for the EstimateDate and ColorNum to show on Cart:End
    cartDesc = cartDesc.Replace("Color", "Color " + ColorNum);
	 string UploadFilePath = string.Empty;
    if (Convert.ToString(Model.Custom5) != string.Empty)
    {
        UploadFilePath = Convert.ToString(ConfigurationManager.AppSettings["ZnodeApiRootUri"]) + "/Data/Media/UploadDocument/" + Model.Custom5;
    }
}
<style>
.shopping-cart .cart-item-quantity{
	max-width:100%;
	display: inline-flex;}
</style>
@*added for cart Item Grouping:start desc: added class .awctlineItem sku+parentproductid  added data-parentSku on which SinglePage and _shoppingcart script works *@

<div class="col-xs-12 col-sm-12 padding-top-bottom nopadding cart-item-details cart-item-seprator @Model.ParentProductId" data-parentSku="@Model.ParentProductId">
    @{
        if (Model?.PersonaliseValuesDetail?.Count > 0)
        {
            PersonaliseValues = "";
            foreach (var item in Model.PersonaliseValuesDetail)
            {
                if (!Equals(item.PersonalizeValue, null) && !Equals(item.PersonalizeValue, string.Empty))
                {
                    if (item.PersonalizeCode.ToString().Contains("Filename"))
                    {
                        PersonaliseImages = item.PersonalizeValue.ToString();
                    }
                    else if (item.PersonalizeCode.ToString().Contains("OptionValue"))
                    {
                        PersonaliseValues += item.PersonalizeValue.ToString();

                    }
                }
            }
        }
        string imageSrc = string.IsNullOrEmpty(PersonaliseImages) ? Model.ImagePath : ConfigurationManager.AppSettings["ZnodeApiRootUri"].ToString() + "/Data/Media/CustomizedSvg/" + PersonaliseImages;
    }
    <div class="col-xs-12 col-sm-3 col-lg-3 col-md-3">
        <div class="col-xs-12 nopadding cart-image ProductImage">
            <center><a data-test-selector="linkCartItemDetails" href="@Url.GetProductUrl(Model?.SeoPageName, productId.ToString())"><img src="@imageSrc" alt=""></a></center>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6 nopadding">
        <div class="col-xs-12 nopadding cart-description Description">
            <div class="ProductName checkoutname">
                <a data-test-selector="linkCartItemName" href="@Url.GetProductUrl(Model?.SeoPageName, productId.ToString())" class="cart-item-title">@Html.RenderBlock(Sku)</a>
            </div>
        </div>
        <div class="col-xs-12 nopadding">
            <div class="ProductDesc">
                @if (Model?.PersonaliseValuesList?.Count > 0)
                {
                    foreach (var item in Model.PersonaliseValuesList)
                    {
                        if (!Equals(item.Value, null) && !Equals(item.Value, string.Empty))
                        {
                            <p><strong>@item.Key</strong> @item.Value</p>
                        }
                    }
                }
            </div>
            <div class="group-product-list">
                @if (Model?.GroupProducts?.Count > 0)
                {
                    foreach (var item in Model.GroupProducts)
                    {
                        <p>@Html.RenderBlock(item.ProductName)</p>
                    }
                }
            </div>
            <div class="awctEstimateDateCart1 cart-item-description"><p>@WebStore_Resources.ColumnTitleEstimateShipDate - @Html.RenderBlock(@EstimateDate)</p></div>
            <div class="cart-item-description hidden"><p>Item - @Html.RenderBlock(Model.SKU)</p></div>
            <div class="cart-item-description"><p>@Html.RenderBlock(cartDesc)</p></div>
            <div class="cart-item-quantity cart-item-description">
                <p class="qtycheckout">Qty - @Html.Partial("_Quantity", Model, new ViewDataDictionary { { "ControlType", "span" } })</p>
                <p class="remove-item hidden" style="@_displayRemoveLink">
                    @using (Html.BeginForm("RemoveCartItem", "Cart", new { guid = Model.ExternalId }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <a href="#" title="Update" class="Edit" onclick=''></a>
                    }
                </p>
            </div>
 @if (UploadFilePath != string.Empty)
            {
                <div>
                    <a class="viewfile"  target="_blank" href="@UploadFilePath">View File</a>
                </div>
            }
            @if (!Model.IsAllowedTerritories)
            {
                <div id="dynamic-allowesterritories" class="status-outofstock hvr-pulse error-msg">@WebStore_Resources.AllowedTerritoriesProductError</div>
            }
        </div>
    </div>
    <div class="col-xs-1 col-sm-3 col-lg-3 col-md-3 text-right margin-top-potrait mobile-no-padding">
        <div class="Price">
            @Helper.FormatPriceWithCurrency(Model.ExtendedPrice, Model.CultureCode)
        </div>
    </div>
</div>


<script>
    jQuery('img').on('error', function (e) {
        this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
    });
</script>