﻿@using Znode.Engine.Admin.ViewModels
@model OrderViewModel
@{
    Layout = null;
}
<div class="col-sm-12 nopadding dashboard-panel ">
    <div class=" dashboard-panel-heading">
        <h4 data-test-selector="hdgOrderNotes" class="dashboard-panel-title">@Admin_Resources.LabelOrderNotes</h4>
    </div>
    <div class="form-group order-notes-padding">
        <div class="col-sm-12 nopadding margin-bottom">
            <div class="control-label">
                @Html.Label(Admin_Resources.LabelAdditionalNotes, new { @data_test_selector = "lblAdditionalNotes" })
            </div>
            <div class="col-sm-12 nopadding">
                <div id="areaList">
                    @Html.TextAreaFor(m => m.AdditionalNotes, new { maxlength = 500, @rows = 4, @data_test_selector = "txtAdditionalNotes" })
                    @Html.ValidationMessageFor(model => model.AdditionalNotes, "", new { @data_test_selector = "valAdditionalNotes" })
                </div>
            </div>
        </div>
    </div>
</div>
