﻿@using Znode.Engine.Admin.ViewModels;
@model SearchIndexMonitorListViewModel

<div id="@Model.GridModel.FrontObjectName">
    <div class="margin-top">
        <section class="col-sm-12 page-container">
            @using (Ajax.BeginForm("GetSearchIndexMonitor", "SearchConfiguration", new { catalogIndexId = Model.CatalogIndexId }, new AjaxOptions() { UpdateTargetId = @Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
        </section>
    </div>
</div>
