﻿@using Znode.Engine.WebStore.ViewModels
@model CategoryViewModel
<div class="item padding-left-right">
<div class="category-item ">
<div class="view-item">
<div class="category-img ">
<a href="@Url.GetCategoryUrl(Model.SEODetails?.SEOUrl, null, Model.CategoryId)">
<div class="image">
<img id="@Model.CategoryId" src="@Model.ImageSmallPath" class="img-responsive fixedheight" data-src="@Model.ImageSmallPath"/>
<label class="catalogname text-center img-responsive b-lazy">@WebUtility.HtmlDecode(Model.CategoryName)</label>
</div>
</a>
</div>
</div>
</div>
</div>