﻿@using Znode.Engine.WebStore.ViewModels
@model CategoryHeaderListViewModel
@{
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
        @{
            foreach (var category in Model.Categories)
            {
                string visibleInNav = category.Attributes?.FirstOrDefault(w => w.AttributeCode == "IsShowInNavigation")?.AttributeValues;
                if (visibleInNav != "false")
                {
                    <li>
                        @if (category.CategoryName == "Catalogs")
                        {@Html.RenderMessage("Catalogs")}
                    else
                    {<a href="@Url.GetCategoryUrl(category.SEOPageName, null, category.CategoryId)" class="dropdown-toggle" data-test-selector="linkCategoryItem" itemprop="url" title="@Html.RenderBlock(WebUtility.HtmlDecode(category.CategoryName))"> @Html.RenderBlock(WebUtility.HtmlDecode(category.CategoryName))</a>}
                        @if (!Equals(category.SubCategoryItems, null) && category.SubCategoryItems.Count > 0)
                        {
                            <ul class="dropdown-menu set1 multi-level">
                                @*@Html.Partial("_HeaderSubNav", category.SubCategoryItems)*@
                                @foreach (var subCategory in category.SubCategoryItems)
                                {
                                    string classname = "";
                                    if (subCategory.ChildCategoryItems.Count > 0)
                                    { classname = "dropdown-submenu"; }
                                    <li class="@classname">
									 @if (subCategory.CategoryName == "Custom Design")
                                        {
                                           @Html.RenderMessage("CustomDesignDance")
                                        }										
                                        else
                                        {
                                        <a href="@Url.GetCategoryUrl(subCategory.SEOPageName, null,subCategory.CategoryId)" data-test-selector="linkSubCategoryItemList" itemprop="url" data-vs=@visibleInNav title="@WebUtility.HtmlDecode(subCategory.CategoryName)">
                                            <i class=""></i>@WebUtility.HtmlDecode(subCategory.CategoryName)
                                        </a>
										}
                                        @if (!Equals(subCategory.ChildCategoryItems, null) && subCategory.ChildCategoryItems.Count > 0)
                                        {
                                            <ul class="dropdown-menu" id="768dropdown">
                                                @Html.Partial("_HeaderSubNav", subCategory.ChildCategoryItems)
                                            </ul>
                                        }
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            }
        }
    </ul>
</div>
<script>$(document).ready(function () {$('#768dropdown').removeAttr('style');});</script>