﻿@model WidgetParameter
@using Newtonsoft.Json
@{
    string properties = Model.properties != null ? JsonConvert.SerializeObject(Model.properties) : null;
}
<div class='loader-inner notransition' style='display:flex;justify-content:center;align-items:center;min-height:150px;'>
    <img src='~/Views/Themes/AWCT/Images/loading.gif' alt='Loading' class='dashboard-loader'/>
</div>   
<z-widget-ajax data-type="Widget" data-widgetCode="@Model.WidgetCode" data-displayName="@Model.DisplayName" data-widgetKey="@Model.WidgetKey" data-typeOfMapping="@Model.TypeOfMapping" data-mappingId="@Model.CMSMappingId" data-properties="@properties"></z-widget-ajax>