﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents
@using Znode.Engine.WebStore.ViewModels
@using Znode.WebStore.Custom.ViewModel
@model  AWCTProductViewModel
@{
    Layout = null;
    //var attributes = Model?.ConfigurableAttributes?.Where(x => x.IsConfigurable)?.ToList();
    var attributes = Model?.ConfigurableData.ConfigurableAttributes?.Where(x => x.IsConfigurable)?.ToList();
    var _sizeList = Model?.ColorSizeStockList?.Select(y => y.Size)?.Distinct();
    var _colorList = Model?.ColorSizeStockList?.Select(y => y.Color)?.Distinct();
    List<ProductDetailGridViewModel> _colorSizeStockList = Model?.ColorSizeStockList.ToList();
    bool isGuestUser = true;
    WebstoreHelper helper = new WebstoreHelper();
    UserViewModel currentUser = helper.GetUserViewModelFromSession();
    if (currentUser != null)
    {
        isGuestUser = currentUser.Profiles.Where(x => x.ProfileId == 5).Count() > 0 ? true : false;
    }
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
    string cultureCode = Model.CultureCode;
    string ParentProductSku = Model.SKU;

    string[] SplitSku = ParentProductSku.Split('_');
    string Sku = "";
    try
    { Sku = SplitSku[1]; }
    catch { }
    Sku = Sku + " " + Model.ConfigurableProductName;

    string personalizeClassName = "";
    Boolean IsTrueColorFamily = Convert.ToBoolean(Model.Attributes?.Value("IsTrueColorFamily"));
}
<style>
  /*Css for Upload file input type file change to button*/
    .file-field span {
        cursor: pointer;
    }
    a#documentremove {
        cursor: pointer;
    }
    .file-field input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        cursor: pointer;
        opacity: 0;
    }
</style>
<!--Swatch Box table with inventory-->
<div class="col-xs-12 nopadding margin-bottom" id="PDPReview">
    <div class="table-responsive">
        <div id="quantity-error-msg" class="error-msg"></div>
    </div>
    <div class="table-responsive ">
        <table class="Customize-colorbox" id="dynamic-product-variations">
            <thead>
                <tr>
                    <th class="setcenter"></th>
                    @foreach (var size in _sizeList)
                    {
                        <th class="setcenter">
                            @size
                        </th>
                    }
                </tr>
            </thead>
            @{var ImgCount = 1; }
            @foreach (var color in _colorList)
            {
                var _singleColorRow = _colorSizeStockList.FirstOrDefault(x => x.Color == color);
               
                int index = 0;
                index = _singleColorRow.ProductImage.LastIndexOf('/');
                string ProductImage = _singleColorRow.ProductImage.Substring(index + 1);
                string imagePath = PortalAgent.CurrentPortal.MediaServerUrl + ProductImage;
                string colorNameAndNumber = "";
                string ColorNumber = Convert.ToString(_singleColorRow.ColorNumber);
                colorNameAndNumber = Convert.ToString(_singleColorRow.ColorNumber.ToString()) + " ";
                colorNameAndNumber += Convert.ToString(_singleColorRow.Color);
                if (colorNameAndNumber.Contains("TRU"))
                {
                    personalizeClassName = "Personalizable";
                }
                <tr class="item @personalizeClassName">
                    <td>
                        @if (@personalizeClassName == "Personalizable")
                        {
                            <a href="#" data-toggle="modal" data-target="#truecolorpopup" onclick="copyTrucolorGrid();" data-colorSize="@color">
                                <img id='@ImgCount' src=@_singleColorRow.SwatchImage abc="@imagePath" data-zoomeffect="@imagePath" class="swatchimgset" title="@colorNameAndNumber">
                            </a>
                        }
                        else
                        {
                            <a onclick="return Clickme(@ImgCount)" href="@imagePath" data-standard="@imagePath" data-colorSize="@color">
                                <img id='@ImgCount' src=@_singleColorRow.SwatchImage abc="@imagePath" data-zoomeffect="@imagePath" class="swatchimgset" title="@colorNameAndNumber">
                            </a>
                        }
                    </td>


                    @foreach (var size in _sizeList)
                    {


                        var _singleColorSizeRow = _colorSizeStockList.FirstOrDefault(x => x.Color == color && x.Size == size);
                        if (_singleColorSizeRow != null)
                        {
                            string enableTextBox = "";

                            <td>
                                @if (!isGuestUser)
                                {<input type="text" class="form-control quantity" maxlength="3" name="qty" id="qty" data-minquantity='@_singleColorSizeRow.MinQty'
                                        data-inventory='@_singleColorSizeRow.Stock' data-price='@_singleColorSizeRow.SalesPrice' onchange="OnQuantityChange($(this));" onkeypress="return isNumber(event)"
                                        data-maxquantity='@_singleColorSizeRow.MaxQty' @enableTextBox data-sku='@_singleColorSizeRow.AssociatedProductSKU' data-colorSize="@size" data-isdutiable='@_singleColorSizeRow.IsDutiable' data-starstock='@_singleColorSizeRow.starMarkingWithQty'
                                        data-EstimateQuantitySymbol='@_singleColorSizeRow.EstimateQuantitySymbol' data-CatalogName='@_singleColorSizeRow.CatalogName'
                                        data-colorNum="@ColorNumber" @_singleColorSizeRow.DisableClearanceQuantity>								
                                }
                                else //remove calulation function
                                {
                                    <input type="text" class="form-control quantity" maxlength="3" name="qty" id="qty" data-minquantity='@_singleColorSizeRow.MinQty'
                                           data-inventory='@_singleColorSizeRow.Stock' data-price='@_singleColorSizeRow.SalesPrice' @*onchange="OnQuantityChange($(this));"*@
                                           onkeypress="return isNumber(event)"
                                           data-maxquantity='@_singleColorSizeRow.MaxQty' @enableTextBox data-sku='@_singleColorSizeRow.AssociatedProductSKU' data-colorSize="@size"
                                           data-EstimateQuantitySymbol='@_singleColorSizeRow.EstimateQuantitySymbol' data-CatalogName='@_singleColorSizeRow.CatalogName' data-isdutiable=@_singleColorSizeRow.IsDutiable data-starstock='@_singleColorSizeRow.starMarkingWithQty'
                                           data-colorNum="@ColorNumber" @_singleColorSizeRow.DisableClearanceQuantity>
								}
                                @*<hr><span>@_singleColorSizeRow.Stock</span>*@
                            </td>
                        }
                        else
                        {
                            <td>

                                <input type="text" class="form-control quantity" data-EstimateQuantitySymbol='&#x2605;' data-colorSize="@size" data-inventory="0" data-starstock='-1' disabled>

                                @*<hr><span>0</span>*@
                            </td>
                        }
                    }

                </tr>

                ImgCount = ImgCount + 1;
            }

        </table>
		@if (IsTrueColorFamily)
        {
		<p class="required">@Html.RenderMessage("TrueColorMessage")</p>
		}
        <input data-val="true" data-val-required="The ShowAddToCart field is required." id="ShowAddToCart" name="ShowAddToCart" type="hidden" value="True">
    </div>
 <!-- Uplod File button Show only after Login -->
 @if (!isGuestUser)
    {
        if (Request.IsAuthenticated)
        {
            var IsFileUpload = Model.Attributes?.FirstOrDefault(w => w.AttributeCode == "IsFileUpload")?.AttributeValues;
            bool uploadOption = Convert.ToBoolean(IsFileUpload);

            if (uploadOption != false)
            {
                    <div class="margin-top">
                        <div class="file-field">
                            <div class="btn btn-bg-secondary col-sm-3 col-xs-12">
                                <i class="zf-pdf-file pull-left" style="font-size: 20px;"></i>&nbsp;&nbsp;Upload Your File
                                <input type="file" id="UploadDocument">
                            </div>
                            <div class="col-sm-9 col-xs-12 mobile-no-padding">
                                <div class="po-document-details" style="margin-top: 5px">
                                    <a class="zf-close" id="documentremove" title="Remove" style="display:none"></a>&nbsp;
                                    <span id="DocumentFileName" style="border-bottom: 1px dashed #ddd"></span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-xs-12 nopadding mobile-no-padding">
                                <span id="errorFileTypeAndSize" class="error-msg" style="display:block;overflow:auto;font-size: smaller;"></span>
                                <span id="podocumentRemoveMessage" class="error-msg" style="float:left;"></span>
                                <input type="hidden" id="document-path" />
                            </div>
                        </div>
                    </div>
            }
        }
    }
</div>
<!-- Check Availability Modal -->
<div id="CheckAvailability" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <button class="close closeset" type="button" data-dismiss="modal" style="position:static">×</button>
                <h4 class="modal-title AVAILABILITY"> <span title="@Html.RenderBlock(Sku)">STYLE AVAILABILITY - @Html.RenderBlock(Sku)</span> </h4>
                <!--Code for calculate Approximate Ship Date Start -->
                <p>@Html.RenderMessage("CheckAvabilityHeader")</p>
                <div class="table-wrap">
                    <table class="table" id="CheckAvailability">
<thead>
                        <tr>
                            @*<th>Sku</th>*@
                            <th>Size</th>
                            <th>Color</th>
                            <th>Qty</th>
                            <th>Estimated Ship Date</th>
                        </tr>
</thead>
                        <tbody id="TblBodyStyleAvailabilityPopUp">    </tbody>
                    </table>
                </div>

                @Html.RenderMessage("CheckAvabilityFooterPassage")

                <!--Code for calculate Approximate Ship Date End -->
            </div>
            <div class="modal-footer hidden">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
@if (!string.IsNullOrEmpty(Model.ConfigurableData.CombinationErrorMessage))
{
    <div class="col-xs-12 nopadding">
        <span class="error-msg">
            @Model.ConfigurableData.CombinationErrorMessage
        </span>
    </div>
}
<script>
    // function Clickme(t){try{var a=$("#"+t).attr("abc"),e=$("#"+t).attr("data-zoomeffect");return $("#product-image").attr("src",a),$("#product-lens-image").attr("href",e),!1}catch(t){alert(t.message)}}function OnQuantityChange(t){      t.removeClass("quantity"),t.addClass("quantitychanged");var a=t.data("inventory");a>0&&(inputValue=t.val(),""==inputValue&&(inputValue=0,t.val("0")),isNaN(inputValue)&&(inputValue=0,t.val("0")),isNaN(inputValue)||inputValue<0||inputValue>a?(text="Quantity Should not exceed the inventory level.",$("#quantity-error-msg").text(text),$("#quantity-error-msg").val(text),t.focus(),t.val("0")):($("#quantity-error-msg").text(""),$("#quantity-error-msg").val(""))),calculatePrice(); if(t.val()=="0"||t.val()=="00"|t.val()=="000"||t.val()=="0000"){  t.val("");t.text(""); };}function calculatePrice(){var t=0,a=0;$("#totalPrice").html("0.00"),$("#totalQuantity").html("0"),$('#dynamic-product-variations input[type="text"]').each(function(){var e=$(this).data("price"),i=$(this).val();if(0<i){var n=0;""==i&&(i=0),n=parseInt(i)*parseFloat(e),$.isNumeric(n)||(n=0),t=n+t,a=parseInt(a)+parseInt(i)}}),$("#totalQuantity").html(parseInt(a)),$("#totalPrice").html(parseFloat(t).toFixed(2)),0<t?($(".divEmptyPricing").css("display","none"),$(".divCalculatedPricing").css("display","block")):($(".divEmptyPricing").css("display","block"),$(".divCalculatedPricing").css("display","none"))}function isNumber(t){var a=(t=t||window.event).which?t.which:t.keyCode;return!(31<a&&(a<48||57<a))}$(".item").on("click","a",function(t){var a=$(this);t.preventDefault(),api1.swap(a.data("standard"),a.attr("href"))}),$(document).ready(function(){var t=$("#currencySymbol").text().replace("0.00","");$("#currencySymbol").text(t);CopyColorGridAvailability() ;});
    //below lines are used for the Availability Functionality :start

    function Clickme(t) {
        try {
            var a = $("#" + t).attr("abc"),
                e = $("#" + t).attr("data-zoomeffect");
            return $("#product-image").attr("src", a), $("#product-lens-image").attr("href", e), !1
        } catch (t) {
            alert(t.message)
        }
    }

    function OnQuantityChange(t) {
        t.removeClass("quantity"), t.addClass("quantitychanged");
        var a = t.data("inventory");
        var star = t.data("starstock");
        var starcount = (star.match(/&/g) || []).length;
        $("#quantity-error-msg").text('');
        a > 0 && (inputValue = t.val(), "" == inputValue && (inputValue = 0, t.val("0")), isNaN(inputValue) && (inputValue = 0, t.val("0")),
            isNaN(inputValue) || inputValue < 0 || (inputValue > a && starcount == 2) ? (text = "Quantity Should not exceed the inventory level.", $("#quantity-error-msg").text(text), $("#quantity-error-msg").val(text), t.focus(), t.val("0")) : ($("#quantity-error-msg").text(""), $("#quantity-error-msg").val(""))), calculatePrice();
        if (t.val() == "0" || t.val() == "00" | t.val() == "000" || t.val() == "0000" || t.val() == "") {
            t.val("");
            t.text("");
            t.removeClass("quantitychanged"), t.addClass("quantity");
        };
    }

    function calculatePrice() {

        var t = 0, hidValue = "", hidValuecustom1 = "", hidValuecustom2 = "", hidValuecustom3 = "", hidValuecustom4 = ""
        a = 0;
        $("#totalPrice").html("0.00"), $("#totalQuantity").html("0"), $('#dynamic-product-variations input[type="text"]').each(function () {
            var e = $(this).data("price"),
                i = $(this).val(), CatalogName = "", IsDutiable = "";
            if (0 < i) {


                ColorNum = $(this).data("colornum"); sku = $(this).data("sku");
                var EstimateDateSymbol = ""; EstimateDateSymbol = $(this).data("estimatequantitysymbol");
                if (EstimateDateSymbol != "") {
                    EstimateDateSymbol = EstimateDateSymbol.replace("&#", "");
                    EstimateDateSymbol = EstimateDateSymbol.replace("&", ""); EstimateDateSymbol = EstimateDateSymbol.replace("#", "");
                }
                ColorNum = $(this).data("colornum"); sku = $(this).data("sku");
                CatalogName = $(this).data("catalogname"); IsDutiable = $(this).data("isdutiable");
                //if (EstimateDateSymbol == "x") { EstimateDateSymbol = $("#awctApproxDate").text() + ";" };
                hidValue = hidValue + sku + "-" + EstimateDateSymbol + "-" + ColorNum + "|";
                $("#hdnCustomColorNumAndEstimateDate").val(hidValue);
                hidValuecustom1 = hidValuecustom1 + sku + "|";
                hidValuecustom2 = hidValuecustom2 + CatalogName + "|";
                hidValuecustom3 = hidValuecustom3 + IsDutiable + "|";
                hidValuecustom4 = hidValuecustom4 + EstimateDateSymbol + "-" + ColorNum + "|";
                $("#hdnCustom1").val(hidValuecustom1);
                $("#hdnCustom2").val(hidValuecustom2);
                $("#hdnCustom3").val(hidValuecustom3);
                $("#hdnCustom4").val(hidValuecustom4);
                var n = 0;
                "" == i && (i = 0), n = parseInt(i) * parseFloat(e), $.isNumeric(n) || (n = 0), t = n + t, a = parseInt(a) + parseInt(i)
            }
        }), $("#totalQuantity").html(parseInt(a)), $("#totalPrice").html(parseFloat(t).toFixed(2)), 0 < t ? ($(".divEmptyPricing").css("display", "none"), $(".divCalculatedPricing").css("display", "block")) : ($(".divEmptyPricing").css("display", "block"), $(".divCalculatedPricing").css("display", "none"))
    }

    function isNumber(t) {
        var a = (t = t || window.event).which ? t.which : t.keyCode;
        return !(31 < a && (a < 48 || 57 < a))
    }
    $(".item").on("click", "a", function (t) {
        var a = $(this);
        t.preventDefault(), api1.swap(a.data("standard"), a.attr("href"))
    });
		
    function CopyColorGridAvailability() {
        $("#dynamic-product-variations").each(function () {
            $(this).find("tr").each(function () {
                var i = 0, t = $(this).first("td").find("a").data("colorsize"); $(this).find("td").each(function () {
                    if (++i > 1) {
                        var a = $(this).find("input"); $("#TblBodyStyleAvailabilityPopUp").append("<tr>");
                        var estimatedateSymbol = a.data("estimatequantitysymbol");
                        var availableIcon = "availableIcon";
                        if (estimatedateSymbol.indexOf("/") > -1) { availableIcon = ""; }//Remove Class if date is available
                        var star = a.data("starstock");
                        if (estimatedateSymbol != '&#x2605;') {
                            if (star != '-1') {
                                $("#TblBodyStyleAvailabilityPopUp").append("<td>" + a.data("colorsize") + "</td>"), $("#TblBodyStyleAvailabilityPopUp").append("<td>" + t + "</td>"), $("#TblBodyStyleAvailabilityPopUp").append("<td>" + a.data("starstock") + "</td>"), $("#TblBodyStyleAvailabilityPopUp").append("<td><span class='" + availableIcon + "'>" + estimatedateSymbol + "</span></td>"), $("#TblBodyStyleAvailabilityPopUp").append("</tr>");
                            }
                        }
                    }
                })
            })
        })
    }
    //below lines are used for the availability Functionality :End
	
 function OutOfStock() {
         try {
             $("#divOutOfStockImg").hide('');
        } catch (ex) {

        }
        var isDisabled = "";
        $("#dynamic-product-variations tr td input").each(function () {
            isDisabled += " " + $(this).prop('disabled');

        });
        if (isDisabled.indexOf("false") < 0) {
            $(".simpleLens-container").append("<div id='divProductNotAvail'><lable id='divOutOfStockImg'>Product Is Out Of Stock.</lable></div>");
            $(".btn_outofstock").prop("disabled","disabled");
        }

    }
	
	$(document).ready(function () {
        var t = $("#currencySymbol").text().replace("0.00", "");
        $("#currencySymbol").text(t);		
        CopyColorGridAvailability();
		OutOfStock();
		 $("#dynamic-product-variations .Customize-colorbox .Personalizable input").each(function () {
           $(this).attr("data-minquantity", "1");

       });
    });
	
	
</script>

<script>
    $("#UploadDocument").on("change", function () {
        var totalFiles = $(this)[0].files;
        $("#DocumentFileName").text("");
        if (totalFiles.length > 0) {
            var fileExtension = $(this).val().split('.').pop().toLowerCase();
            if (fileExtension != "") {
                if ($.inArray(fileExtension, ['gif', 'png', 'jpg', 'jpeg', 'pdf', 'doc', 'docx', 'ppt', 'xls', 'zip', 'ttf', 'xlsx', 'odt', 'csv', 'txt', 'zip']) == -1) {
                    $("#errorFileTypeAndSize").html(ZnodeBase.prototype.getResourceByKeyName("ErrorFileTypeMessage"));
                    $("#documentremove").hide();

                    return false;
                }
                if (totalFiles[0].size > 5242880) {
                    $("#errorFileTypeAndSize").html(ZnodeBase.prototype.getResourceByKeyName("ErrorFileSizeMessage"));
                    $("#documentremove").hide();

                    return false;
                }

                $("#DocumentFileName").text(this.files[0].name);
                Product.prototype.UploadDocument(totalFiles, function (response) {
                    $("#document-path").val(response.FileName);
                    $("#hdnCustom5").val(response.FileName);
                    $("#documentremove").show();
                       $("#UploadDocument").attr("style", "display:none");
                    $("#documentremove").removeAttr("style");
                });
            }
        
            $("#errorFileTypeAndSize").html("");
        }
    })
    $("#documentremove").on("click", function () {
        var fileName = $("#document-path").val();
        if (fileName != undefined) {
            Product.prototype.RemoveDocument(fileName, function (response) {
                if (response.IsDocumentRemove) {
                    $("#DocumentFileName").html("");
                    $("#documentremove").hide();
                    $("#UploadDocument").val(''); 
                    $("#hdnCustom5").val('');
                    $("#document-path").val('');
                    $("#UploadDocument").removeAttr("style");
                }
            });
        }
    })
</script>