﻿@model Znode.WebStore.Custom.ViewModel.AWCTProductViewModel
@using Znode.Libraries.ECommerce.Utilities
@{
    var CustomeFields = Model.Attributes?.Where(x => x.IsCustomeField)?.OrderBy(x => x.DisplayOrder)?.ToList();
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
}
<div class="col-xs-12" id="product-content">
    <div class="product-details-tab">
        <ul id="myTab" class="nav nav-tabs">
            <!-- Frequently Brought Together -->
            <li class="active"><a data-test-selector="linkPanel6" href="#panel-6" data-toggle="tab" id="tab-FrequntlyBrought" class="tabs">@WebStore_Resources.TextFrequntlyBrought</a></li>
            <!-- Details -->
            <li><a data-test-selector="linkPanel1" href="#panel-1" data-toggle="tab" class="tabs">@WebStore_Resources.TextProductDetails</a></li>
            @if (!string.IsNullOrEmpty(Model.Attributes?.Value("ProductSpecification")))
            {
                <li><a data-test-selector="linkPanel2" href="#panel-2" data-toggle="tab" class="tabs">@WebStore_Resources.TextProductSpecifications</a></li>
            }
            @if (CustomeFields?.Count > 0)
            {
                <li><a data-test-selector="linkPanel5" href="#panel-5" data-toggle="tab" id="tab-youtbevideos" class="tabs">@WebStore_Resources.TitleAdditionalInformation</a></li>
            }
            <!-- Reviews -->
            <li><a data-test-selector="linkPanel3" href="#panel-3" data-toggle="tab" id="tab-reviews" class="tabs">@WebStore_Resources.TextCustomerReviews</a></li>
        </ul>

        <div id="myTabContent" class="tab-content scroll-default">
            <!-- Details Panels 2-->
            <div class="tab-pane fade in" id="panel-1">
                <div id="product-longdetail-container" data-test-selector="divDetailsDescription">
                    <!--Product Description-->
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 nopadding text-justify product-description">
                        @Html.RenderBlock(Model.Attributes.Value("LongDescription"))
                        <p><strong>Page: </strong> @Html.RenderBlock(@WebUtility.HtmlDecode(Model.Attributes?.Value("awctpagenum")))</p>
                    </div>

                </div>
            </div>
            <!--Panels 2-->
            @if (!string.IsNullOrEmpty(Model.Attributes?.Value("ProductSpecification")))
            {
                <div class="tab-pane fade" id="panel-2">
                    <div id="product-specification-container" data-test-selector="divSpecificationDescription">
                        @Html.RenderBlock(@WebUtility.HtmlDecode(Model.Attributes?.Value("ProductSpecification")))
                    </div>
                </div>
            }
            <!-- Reviews Panels 3-->
            <div class="tab-pane fade" id="panel-3">
                <div class="col-xs-12 nopadding">
                    <a data-test-selector="linkWriteReview" href="/Product/writereview?id=@productId&name=@Model.Name" id="button-writeReview" class="btn-text btn-text-icon btn-bg-primary pull-right">@WebStore_Resources.LinkTextWriteReview</a>
                </div>
                <div class="col-xs-12 nopadding">
                    <div id="product-review-container">
                        @Html.Partial("_ProductReviews", Model.ProductReviews)
                    </div>
                </div>
            </div>

            @if (CustomeFields != null && CustomeFields.Count() > 0)
            {
                <div class="tab-pane fade" id="panel-5">
                    <div id="product-youtubevideo-container" class="col-xs-12 col-sm-6 nopadding">
                        @{
                            foreach (var item in CustomeFields)
                            {
                                <div class="product-brand">
                                    <label>@Html.RenderBlock(item.AttributeName) : </label>
                                    @Html.RenderBlock(item.AttributeValues)
                                </div>
                            }
                        }

                    </div>
                </div>
            }
            <!--Frequently Brought Together Panels 6-->
            <div class="tab-pane fade active in" id="panel-6">
                <div id="Frequently-Brought">                    
                    <div class="col-xs-12 nopadding text-justify">
                        <z-widget>
                            @Html.WidgetPartial("LinkProductList", "LinkProducts", "1101", "PortalMapping", productId)
                        </z-widget>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>