﻿@import "_base.scss";
.single-page-checkout{
    .address-block{
        .address-name{font-weight:600;color:#6a6367;}
        .address-details{min-height:100px;}
    } 
    .review-order{        
        .cart-item-quantity input[type="text"]{border:none;background-color:transparent;pointer-events:none;}
        .shopping-cart{padding:0;
            .cart-total{border:0 !important;}
            .cart-summary .order-summary{margin-top:0;}
        }
        .cart-products{
             tr th:first-child{display:none}
             tbody{
                tr td:first-child{display:none;}
             }
        }
    }
    .cart-item-details{display:flex;width:75%;float:left;
        .cart-image{width: 45px;}
        .cart-description{flex:1;padding: 0 0 0 10px;margin-top:0;word-break:break-all;}
    }
    .cart-item-quantity,.cart-item-total{float:right;clear:right;width:25%;}

    .signle-page-payment .credit-card-container{
        .nav-tabs{
            li{width:50%;}
            li a{text-align:center;background-color:#f5eded;color:$base-color-primary;border-color:#f5eded #f5eded transparent}
            li.active a{background-color:$base-color-primary;color:$base-color-white;}
        }
        .tab-content{padding:10px 0;display:block;}
        .section-heading{font-size:$base-font-size + 3;border-bottom:1px solid $border-bgcolor-default;font-weight:600;color:#6a6367;padding-bottom:10px; display:none;}
        .save-cart{margin-bottom:10px;
            ul{padding:0;}
            .input-radioButton{margin-right:10px;}
        } 
    }
    .cart-total-footnote{display:none;}  
    .styled-input .disable-radio::before {color:#ddd !important;}
      
    .checkout-box{border:1px solid $border-bgcolor-default;box-shadow: 0px 0px 3px $border-bgcolor-default;
          .title{padding:15px;margin:0;font-size:$base-font-size + 3;color:$base-color-secondary;font-weight:bold; border-bottom:1px solid $border-bgcolor-default;text-transform:uppercase;}  

    }
        .cart-products{
         thead{display:none;}
         tbody{display:flex;flex-wrap:wrap;
            tr{width:100%;}
         }
        .remove-item{position:absolute;left:0;}
        td{border-bottom:0 !important;position:relative;vertical-align:top !important;}
        td.cart-item-unitprice{margin-top:10px;display:none;}
        .thead-text{position:static !important;}
    }
    .cart-total-title{padding:0;
                      .cart-item-remove-all
                {
                    position:absolute;right:2px;top:22px;
            }}
    .cart-left-section{padding:0;}
     .cart-image img{float:none;width:30px;}
        td.cart-item-details{white-space:normal !important;}
    .chk-section,.cart-promocode{
            background-color:#f5f5f5; margin-bottom: 15px;border:1px solid $border-bgcolor-default;
            .head-text{
                h1{font-size: 22px;text-transform: uppercase;padding: 5px 15px;}}
            table
                {
                    border:0;
                    td{padding:10px !important;}
                    .cart-item-total,.cart-item-quantity{padding-top:13px !important;}
                    .cart-result{margin-top:8px;}
            }
    }
    .cart-total{margin-left:0;
                .align-right{padding-right:16px;}
    }
    .create-new-address{position:absolute;right:0;top:3px;font-family:$base-font-family-bold;z-index:999;
                        a{border:1px solid $border-bgcolor-default;padding:5px 10px;}
    }
    .address-block{padding-top:10px;
        .address-change{font-family:$base-font-family-bold;text-align:right;
                a{border:1px solid $border-bgcolor-default;padding:2px 9px;margin:5px 0; }
        }
    }
}
.cart-promocode{
    .head-text{border-bottom:1px solid $border-bgcolor-default;padding-right:0;}
    .form-group{padding:5px 15px;}
}
.shopping-block-item .cart-products .cart-item-quantity input[type="text"]{border:1px solid $border-bgcolor-default;width:48px;}
.shipping-method .styled-radio .input-label{font-weight:normal;}
.amazon-pay-review{
    .hide-in-amazon-checkout{display:none;}
    .cart-item-quantity input[type="text"]{border:none;background-color:transparent;width:auto;pointer-events:none;}
} 
.address-popup{    
    .modal-body{display:inline-block;background-color:$base-color-white;}
    .edit-address-form{margin-top:0;}
}

.login-container-popup{
    .login-container{margin:0;
        .inner-container{border:0;padding:0 25px;
          .social{width:100%;}
        }
        .login-form-forgotpassword{display:none;}
    }
}

.ui-dialog{background-color:$base-color-white;box-shadow:0 5px 15px rgba(0, 0, 0, 0.5);z-index:99999 !important;
    .ui-dialog-titlebar{font-size:$base-font-size + 2;font-family:$base-font-family-bold;display:block;line-height:26px;color:$base-color-white;background-color:$base-color-primary;padding:15px;}
    .ui-dialog-content{padding:15px;color:$text-fgcolor-default;}
    .ui-dialog-titlebar-close{font-family:$znode-icon-font;font-weight:normal;font-size:$base-font-size + 2;color:$base-color-secondary;content:"\f057";position:absolute;right:5px;top:5px;}
    .ui-dialog-buttonpane{float:left;width:100%;background-color:$base-color-white;padding:10px 15px;border-top:1px solid $border-bgcolor-default;
            .ui-dialog-buttonset{float:right;
                button{@include btn-text;font-size:$base-font-size;padding:0 15px;margin-left:5px;height:24px;line-height:23px;text-transform:capitalize;color:$base-color-white;background-color:$base-bgcolor-button-primary;overflow:hidden;float:left;border-radius:2px;}
            }        
    }
}
.ui-md-popup{width:600px!important; height:auto;}
//amazon css
.amazon-checkout {
    .shipping-address {padding-right:30px;
        .title{text-transform:uppercase;font-weight:bold;}
    }
    .shipping-method .title{padding-left:10px;}
    .login-off-btn{margin-left:0 !important;}
    .amazon-right{margin-top:6px;}
}
// Media Query.
@include screensize(x-small) {
    .single-page-checkout {
        padding: 0 5px;

        .shipping-address {
            padding-right: 0;
        }
    }

    .checkout-reciept {
        padding: 0 5px;
    }
}

@include screensize(small) {
    .single-page-checkout{padding:0;
        .shipping-address-content,.billing-address-content{
           .shipping-address-edit{padding-right:15px;}
           .shipping-address-edit-block{
               .address-book-block{display:flex;flex-wrap:wrap;}
           }
        }
        .cart-products tbody{display:table;width:100%;
            .cart-item-details{width:100%;}
            .cart-item-quantity, .cart-item-total{float:none;width:auto;clear:none;}
        }
   } 
    .checkout-reciept{padding:0;}
}
@include screensize(medium) {
    .single-page-checkout{
        .shipping-address{padding-right:30px;}
        .shipping-address-content{padding-right:0;
            .shipping-address-edit{padding-right:15px;}
        }       
  } 
}