﻿@using Znode.Engine.Admin.ViewModels
@using Znode.Libraries.Resources
@using Znode.Engine.Admin.Helpers;
@using Znode.Engine.Admin.Extensions;
@using Znode.Libraries.ECommerce.Utilities;
@model ERPTaskSchedulerViewModel
@{ /*Nivi Code start to add 2,3,4 hour in scheduler list*/
    List<SelectListItem> RepeatTaskEveryList = new List<SelectListItem>();
    RepeatTaskEveryList.Add(new SelectListItem() { Text = "2 hour", Value = "120" });
    RepeatTaskEveryList.Add(new SelectListItem() { Text = "3 hour", Value = "180" });
    RepeatTaskEveryList.Add(new SelectListItem() { Text = "4 hour", Value = "240" });
    Model.RepeatTaskEveryList.AddRange(RepeatTaskEveryList);
    /*Nivi Code end to add 2,3,4 hour in scheduler list*/
}
<div class="col-sm-12 nopadding">
    <h3 class="section-heading margin-top-25" data-test-selector="hdgSchedularSettings">@ERP_Resources.LabelSetting</h3>
</div>
<div class="col-sm-12 nopadding margin-top-bottom">
    <label class="padding-right">@Html.RadioButtonFor(model => model.SchedulerFrequency, "OneTime", new { @data_test_selector = "chkOneTime" }) <span data-test-selector="lblOneTime" class="lbl padding-8">@ERP_Resources.LabelOneTime</span></label>
    <label class="padding-right">@Html.RadioButtonFor(model => model.SchedulerFrequency, "Daily", new { @data_test_selector = "chkDaily" })<span data-test-selector="lblDaily" class="lbl padding-8">@ERP_Resources.LabelDaily</span></label>
    <label class="padding-right">@Html.RadioButtonFor(model => model.SchedulerFrequency, "Weekly", new { @data_test_selector = "chkWeekly" })<span data-test-selector="lblWeekly" class="lbl padding-8">@ERP_Resources.LabelWeekly</span></label>
    <label class="padding-right">@Html.RadioButtonFor(model => model.SchedulerFrequency, "Monthly", new { @data_test_selector = "chkMonthly" })<span data-test-selector="lblMonthly" class="lbl padding-8">@ERP_Resources.LabelMonthly</span></label>
</div>

<div class="form-group">
    <div class="col-sm-12 nopadding">
        <div class="control-label">
            @Html.Label(ERP_Resources.LabelERPTaskSchedulerStartDate, new { @class = "required", @data_test_selector = "lblSchedulerStartDate" })
        </div>
        <div class="control-sm">
            <div class="right-inner-icon">
                @Html.TextBoxFor(model => model.StartDate, Model?.StartDate != null ? Model.StartDate.ToDateTimeFormat() : string.Empty, new { @class = "datepicker", @data_test_selector = "txtSchedulerStartDate", @mindate = "", @maxdate = "", @data_date_format = HelperMethods.GetDateFormat() })
                <i class="z-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </div>
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @id = "valStartDate", @data_test_selector = "valSchedulerStartDate" })
        </div>
        <div class="control-sm padding-left">
            <div class="right-inner-icon">
                @Html.TextBoxFor(model => model.StartTime, string.Empty, new { @class = "timepicker", style = "cursor:pointer", @data_test_selector = "txtSchedulerStartTime" })
                <i class="z-time-picker" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </div>
            @Html.ValidationMessageFor(model => model.StartTime, "", new { @id = "valStartTime", @data_test_selector = "valSchedulerStartTime" })
        </div>
    </div>
</div>

<div class="col-sm-12 nopadding" id="divSchedulerFrequency">
    @if (Model.SchedulerFrequency == ZnodeConstant.Daily)
    {@Html.Partial("~/Views/TouchPointConfiguration/_Daily.cshtml", Model)}
    else if (Model.SchedulerFrequency == ZnodeConstant.Weekly)
    {@Html.Partial("~/Views/TouchPointConfiguration/_Weekly.cshtml", Model)}
    else if (Model.SchedulerFrequency == ZnodeConstant.Monthly)
    {@Html.Partial("~/Views/TouchPointConfiguration/_Monthly.cshtml", Model)}
</div>

<div class="col-sm-12 nopadding">
    <div class="form-group">
        <div class="col-sm-12 nopadding">
            <div class="control-label">
                <label>
                    @if (Model.RepeatTaskEvery == 60 && Model.RepeatTaskForDuration == "1440m")
                    {
                        <input id="IsRepeatTaskEvery" data-test-selector="chkRepeatTaskEvery" name="IsRepeatTaskEvery" type="checkbox" value="false">
                    }
                    else
                    {
                        <input id="IsRepeatTaskEvery" data-test-selector="chkRepeatTaskEvery" name="IsRepeatTaskEvery" checked="checked" type="checkbox" value="true">
                    }
                    <span class="lbl padding-8" data-test-selector="lblRepeatTaskEvery" for="IsRepeatTaskEvery">@ERP_Resources.LabelERPTaskSchedulerRepeatTaskEvery</span>
                    <input name="IsRepeatTaskEvery" type="hidden" value="false">
                </label>
            </div>
            <div class="control-sm">
                <div class="right-inner-icon">
                    @if (Model.RepeatTaskEvery == 60 && Model.RepeatTaskForDuration == "1440m")
                    { @Html.DropDownListFor(model => model.RepeatTaskEvery, Model.RepeatTaskEveryList, new { disabled = "disabled", @data_test_selector = "drpRepeatTaskEvery" })}
                    else
                    { @Html.DropDownListFor(model => model.RepeatTaskEvery, Model.RepeatTaskEveryList, new { @data_test_selector = "drpRepeatTaskEvery" })}
                    @Html.ValidationMessageFor(model => model.RepeatTaskEvery)
                </div>
            </div>

            <div class="control-label padding-left duration-label">
                @Html.LabelFor(model => model.RepeatTaskForDuration, new { @data_test_selector = "lblRepeatTaskForDuration" })
            </div>
            <div class="control-sm duration-dropdown">
                @if (Model.RepeatTaskEvery == 60 && Model.RepeatTaskForDuration == "1440m")
                { @Html.DropDownListFor(model => model.RepeatTaskForDuration, Model.RepeatTaskForDurationList, new { disabled = "disabled", @data_test_selector = "drpRepeatTaskForDuration" })}
                else
                { @Html.DropDownListFor(model => model.RepeatTaskForDuration, Model.RepeatTaskForDurationList, new { @data_test_selector = "drpRepeatTaskForDuration" })}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12 nopadding">
            <div class="control-label">
                @Html.Label(ERP_Resources.LabelERPTaskSchedulerExpireDate, new { @data_test_selector = "lblSchedulerExpireDate" })
            </div>
            <div class="control-sm">
                <div class="right-inner-icon">
                    @Html.TextBoxFor(model => model.ExpireDate, Model?.ExpireDate != null ? Model.ExpireDate.ToDateTimeFormat() : string.Empty, new { @class = "datepicker", @data_test_selector = "txtSchedulerExpireDate", @mindate = "", @maxdate = "", @data_date_format = HelperMethods.GetDateFormat() })
                    <i class="z-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </div>
                @Html.ValidationMessageFor(model => model.ExpireDate, "", new { @data_test_selector = "valSchedulerExpireDate" })
            </div>
            <div class="control-sm padding-left">
                <div class="right-inner-icon">
                    @Html.TextBoxFor(model => model.ExpireTime, string.Empty, new { @class = "timepicker", @data_test_selector = "txtSchedulerExpireTime", style = "cursor:pointer" })
                    <i class="z-time-picker" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </div>
                @Html.ValidationMessageFor(model => model.ExpireTime, "", new { @data_test_selector = "valSchedulerExpireTime" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12 nopadding">
            <div class="control-md">
                <label>
                    <input id="IsActive" data-test-selector="txtIsActive" name="IsEnabled" checked="@Model.IsEnabled" type="checkbox" value="true">
                    <span class="lbl padding-8" data-test-selector="spnIsActive" for="IsEnabled">@ERP_Resources.LabelEnabled</span>
                    <input name="IsEnabled" type="hidden" value="false">
                </label>
            </div>
        </div>
    </div>
</div>
