﻿@using Znode.Libraries.ECommerce.Utilities
@model Znode.Engine.Admin.ViewModels.WebSiteLogoViewModel

<aside>
    <button id="slide-menu" class="slide-menu-btn" data-toggle="tooltip" data-placement="right" title="Expand/Collapse"><i class="z-left-collaps-arrow"></i></button>
    <div class="slide-container">        
        <ul class="aside-panel">
            <li>
                @Ajax.AuthorizedRawActionLink(@Admin_Resources.LabelGeneralSettings,
                "StoreSetting", "StoreExperience", new { portalId = Model?.PortalId },
                new AjaxOptions { UpdateTargetId = "WebSiteConfigurationDiv", InsertionMode = InsertionMode.Replace, OnSuccess = "ZnodeBase.prototype.activeAsidePannelAjax(this);"}, new { @data_test_selector = "linkWebsiteLogo" })
            </li>
            <li>
                @Ajax.AuthorizedRawActionLink("Image Setting",
                "EditDisplaySetting", "Store", new { portalId = Model?.PortalId},
               new AjaxOptions { UpdateTargetId = "WebSiteConfigurationDiv", InsertionMode = InsertionMode.Replace, OnSuccess = "ZnodeBase.prototype.activeAsidePannelAjax(this);" }, new { @data_test_selector = "linkImageSetting" })
            </li>
            <li>
                @Ajax.AuthorizedRawActionLink(@Admin_Resources.LabelProductPage,
                "GetPortalProductPage", "WebSite", new { portalId = Model?.PortalId, portalName = Model.PortalName },
               new AjaxOptions { UpdateTargetId = "WebSiteConfigurationDiv", InsertionMode = InsertionMode.Replace, OnSuccess = "ZnodeBase.prototype.activeAsidePannelAjax(this);" }, new { @data_test_selector = "linkProductPage" })
            </li>
            @Html.Partial("~/Views/WebSite/_WebSiteWidgetsPanel.cshtml", Model)
        </ul>
    </div>
</aside>
