﻿@model Znode.Engine.Admin.ViewModels.PriceListViewModel
<div id="@Model.GridModel.FrontObjectName">
    <div id="aside-popup-panel">
        <div class="col-sm-12 title-container">
            <h1 data-test-selector="hdgAssociatePrice">Associate Price</h1>
            <div class="pull-right btn-container">
                <button type="button" class="btn-text-icon margin-bottom" onclick="ZnodeBase.prototype.CancelUpload('associatepricelistforprofile')" data-test-selector="linkCancel"><i class="z-back"></i>@Admin_Resources.ButtonCancel</button>
                <div class="pull-right">
                    <button type="button" class="btn-text btn-text-secondary" onclick="Price.prototype.AssociatePriceListToProfile(@Model.PortalId)" data-test-selector="linkSave">@Admin_Resources.ButtonSave</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 page-container">
            <div id="associatedProfile" class="text-danger" style="display:none">
                <div class="col-sm-12 nopadding notification-msg margin-bottom" id="body">
                    <div class="messageBoxContainer error-msg text-center" id="messageBoxContainerId">@Admin_Resources.TextSelectOnePricelist</div>
                </div>
            </div>
            @using (Ajax.BeginForm("GetUnAssociatedPriceListForProfile", "Store", new { portalId = Model.PortalId, profileId = Model.ProfileId }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
            @Html.HiddenFor(m => m.PortalId)
            @Html.HiddenFor(m => m.ProfileId)
        </div>
    </div>
</div>