﻿@using Znode.Engine.Admin.ViewModels;
@model BrandListViewModel

<div id="@Model.GridModel.FrontObjectName">
    <div id="aside-popup-panel">
        <div class="col-sm-12 title-container">
            <h1>@Admin_Resources.BrandHeading</h1>
            <div id="divSaveCancel" class="pull-right btn-container">
                <button type="button" class="btn-text-icon margin-bottom" data-dismiss="modal" onclick="ZnodeBase.prototype.CancelUpload('BrandListPanel')" data-test-selector="linkCancel"><i class="z-back"></i>@Admin_Resources.ButtonCancel</button>
                <div class="pull-right padding-left" id="divSave">
                    <button type="button" class="btn-text btn-text-secondary" onclick="Promotion.prototype.AssociateBrands()" data-test-selector="linkSave">@Admin_Resources.ButtonSave</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 page-container">
            <div id="PleaseSelectAtleastOneRecordError" class="error-msg text-center margin-bottom" style="display:none">
                @Admin_Resources.PleaseSelectAtleastOneRecord
            </div>
            @using (Ajax.BeginForm("GetPromotionBrands", "Promotion", new { assignedIds = Model.BrandIds, promotionId = Model.PromotionId }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
        </div>
    </div>
</div>

<script>
    Promotion.prototype.ShowHideSaveCancelButton();
</script>
