﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model WidgetProductViewModel
@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool CallForPricing = Convert.ToBoolean(Model.ProductViewModel?.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.ProductViewModel?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        CallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    string disable = CallForPricing || !Model.ProductViewModel.ShowAddToCart ? "disabled" : "";
    string productType = Model.ProductViewModel?.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
    string UOM = Attributes.ValueFromSelectValue(Model?.ProductViewModel.Attributes, "UOM");
    string ratingText = Model.ProductViewModel?.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.ProductViewModel.Rating, 1), Model.ProductViewModel?.TotalReviews) : string.Empty;
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
    bool isObsolete = Convert.ToBoolean(Model.ProductViewModel?.Attributes?.Value(ZnodeConstant.IsObsolete));
    string obsoleteClass = isObsolete ? "cut-price" : "";
    string productUrl = domainurl + Url.GetProductUrl(Model?.ProductViewModel.SEOUrl, Model?.ProductViewModel.PublishProductId.ToString());
}

<div class="item">
    <div class="product-item">
        <div class="view-item">
            <div class="product-img" data-test-selector="divProductImage">
                <a href="@domainurl@Url.GetProductUrl(Model?.ProductViewModel.SEOUrl, Model?.ProductViewModel.PublishProductId.ToString())" data-test-selector="linkImage">
                    <div class="image" data-test-selector="divImage">
                        <img id="@Model.ProductViewModel.PublishProductId" class="img-responsive b-lazy" data-src="@Model.ProductViewModel.ImageSmallPath" alt="Product" data-test-selector="imgProductImage" />
                    </div>
                </a>
                <button onclick="Product.prototype.GetProductDetails(this)" data-test-selector="btnQuickView" class="btn-card btn-quick-view btn-bg-secondary hvr-shadow" data-review-state-id="" data-product-is-active="" data-value="@Model.ProductViewModel.PublishProductId" data-isquickview="true" data-toggle="modal" data-target=".quick-view-popup">@WebStore_Resources.ButtonQuickView</button>
            </div>
            @if (isObsolete)
            {
                <div class="product-inventory pb-2">
                    <div class="price"><h4 class="error-msg obsolete-msg pt-2 pb-2">@Html.RenderBlock(string.Format(WebStore_Resources.PLPObsoleteMessage, productUrl)) </h4></div>
                </div>
            }

            <div class="product-details" data-test-selector="divProductDetails">
                <a href="@domainurl@Url.GetProductUrl(Model?.ProductViewModel.SEOUrl, Model?.ProductViewModel.PublishProductId.ToString())" data-test-selector="linkProductTitle">
                    <h4 class="title" data-test-selector="lblProductTitle">@WebUtility.HtmlDecode(Model.ProductViewModel.Name)</h4>
                </a>
                <div class="product-rating" data-test-selector="divProductRating">
                    @Html.Partial("_StarRating", Model.ProductViewModel.Rating)
                    @ratingText <a href="@domainurl@Url.GetProductUrl(Model?.ProductViewModel.SEOUrl, Model.ProductViewModel.PublishProductId.ToString())#scrollReview" data-test-selector="linkReviewText" id="jumpto-readreviews-productTile">@WebStore_Resources.LinkTextReadReviews</a>
                </div>
                @if (CallForPricing)
                {
                    <div class="price" data-test-selector="divProductPrice">
                        <label data-test-selector="lblPriceMsg">@callForPricingMessage</label>
                    </div>
                }
                else
                {
                    <div class="price" data-test-selector="divProductPrice" data-sku="@Model.ProductViewModel.SKU" data-type="@Model.ProductViewModel.ProductType">
                        @if (!Helper.IsAsyncPrice)
                        {
                            if (!string.IsNullOrEmpty(Model.ProductViewModel.GroupProductPriceMessage))
                            {
                                <label data-test-selector="lblGroupPrice">@Model.ProductViewModel.GroupProductPriceMessage</label>
                            }
                            else
                            {
                                if (!Equals(Model.ProductViewModel.SalesPrice, null))
                                {
                                    <span data-test-selector="lblPrice" class="@obsoleteClass">
                                        @Helper.FormatPriceWithCurrency(Model.ProductViewModel.SalesPrice, Model.CultureCode, UOM)
                                    </span>

                                    if (Model.ProductViewModel.SalesPrice != @Model.ProductViewModel.RetailPrice && !Equals(productType, ZnodeConstant.GroupedProduct))
                                    {
                                        <span class="cut-price" data-test-selector="lblCutPrice">
                                            @Helper.FormatPriceWithCurrency(Model.ProductViewModel.RetailPrice, Model.CultureCode, UOM)
                                        </span>
                                    }
                                }
                                else
                                {
                                    if (Model.ProductViewModel.PromotionalPrice > 0)
                                    {
                                        <label class="@obsoleteClass">
                                            @Helper.FormatPriceWithCurrency(Model.ProductViewModel.PromotionalPrice, Model.CultureCode, UOM)
                                        </label>
                                        <span class="cut-price" data-test-selector="lblCutPrice">
                                            @Helper.FormatPriceWithCurrency(Model.ProductViewModel.RetailPrice, Model.CultureCode, UOM)
                                        </span>
                                    }
                                    else
                                    {
                                        <span data-test-selector="lblPrice" class="@obsoleteClass">
                                            @Helper.FormatPriceWithCurrency(Model.ProductViewModel.RetailPrice, Model.CultureCode, UOM)
                                        </span>
                                    }

                                }
                            }
                        }
                        else
                        {
                            <label class="price-span" data-sku="@Model.ProductViewModel.SKU" data-type="@productType">Loading...</label>
                        }

                    </div>
                    if (!string.IsNullOrEmpty(disable) && !isObsolete)
                    {
                        <div class="item-error-msg">
                            <p class="error-msg">@Model.ProductViewModel.InventoryMessage</p>
                        </div>
                    }
                }
                <a href="@domainurl@Url.GetProductUrl(Model?.ProductViewModel.SEOUrl, Model?.ProductViewModel.PublishProductId.ToString())" data-test-selector="linkViewMoreDetails">View More Details</a>
            </div>
        </div>
    </div>
</div>
