﻿@model WidgetParameter
<z-widget>@Html.WidgetPartial(Model.WidgetCode, Model.DisplayName, Model.WidgetKey, Model.TypeOfMapping, Model.CMSMappingId, Model.properties)</z-widget>
<script> InitbLazy();</script>