﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Newtonsoft.Json
@using Znode.Engine.WebStore.Agents
@using Newtonsoft.Json;
@using System.Configuration;
@model OrdersViewModel

@{
    int shippingId = 0;
    int count = 1;
    string imagePath = string.Empty;
    int portalId = PortalAgent.CurrentPortal.PortalId;
    bool isLoggedInUser = User.Identity.IsAuthenticated;
    var address = Model.BillingAddressHtml;
    var _portal = PortalAgent.CurrentPortal;
    TempData["redirectbit"] = true;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    // Layout = @_fileLocation + "/Views/Shared/_Layout-Checkout.cshtml";
    string ExclusionCategory = "Value,Clearance";//ConfigurationManager.AppSettings["ExclusionCategory"].ToString();//
    decimal ExclusionTotal = Convert.ToDecimal(Model.OrderLineItems.Where(x => !ExclusionCategory.Split(',').Contains(x.Custom1)).Sum(x => x.Price * x.Quantity));
    Model.CSRDiscountAmount = ExclusionTotal;
}

@if (!Equals(Model, null))
{
    <div class="main-wrapper sp-accounts">
        <div class="container-fluid">
            <div class="checkout-reciept margin-bottom">
                <div class="jumbotron text-center" style="background: #fff">
                    <h1 class="display-3" style="font-size: 3em">Thank You!</h1>
                    <span>For Your Purchase.</span>
                    <div>&nbsp;</div>
                    <p data-test-selector="lblOrderNoMsg">
                        Your order number is <b>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a data-test-selector="lblOrderNo" href="/User/OrderReceipt?OmsOrderId=@Model.OmsOrderId" class="sp-num">#@Model.OrderNumber</a>
                            }
                            else
                            {
                                <span data-test-selector="lblOrderNo" class="sp-num">#@Model.OrderNumber</span>
                            }
                        </b>
                    </p>
                    <p>Please check your email <b data-test-selector="lblReceiptEmail">@Model.EmailAddress</b>, for further instructions and keep this email for your records.</p>
                    <hr>
                    <div>&nbsp;</div>
                    <p>
                        Having trouble?
                        <a href="/CaseRequest/customerfeedback">@WebStore_Resources.TextCustomerFeedback</a>
                    </p>
                    <p>
                        <a href="/" class="btn-text btn-bg-primary pdpbtn margin-bottom">@WebStore_Resources.ButtonContinueShopping</a>
                        @Html.Hidden("portalId", portalId)
                    </p>
                </div>
            </div>
            @* We do not use remaining Div after order Succses *@
        </div>
    </div>
    @Html.Hidden("isLoggedInUser", isLoggedInUser)
    @Html.TrackingPixelHtml(ZnodePortalTrackingPixelEnum.CJ.ToString(), new object[] { Guid.NewGuid().ToString(), Helper.GetPixelId(ZnodePortalTrackingPixelEnum.CJ.ToString())?.Split(',')?.First(), Helper.GetPixelId(ZnodePortalTrackingPixelEnum.CJ.ToString())?.Split(',')?.Last(), Model.CultureCode, Model.OmsOrderId, Model.OrderLineItemQueryString }, Model.OrderLineItemQueryString)
}
@* To DO - Need to move in checkout.ts *@
<script>
        $(document).ready(function () {
            // DataLayer creation and PUSH to GTM.
            var modelData = Checkout.prototype.prepareDataLayer(@Html.RenderBlock(Json.Encode(Model)));
            Checkout.prototype.PutDataIntoDatalayer(modelData);

            $(window).scrollTop(0);
            if ("@isLoggedInUser" == "False") {
                ArtifiAPI.prototype.UpdateUserId(localStorage.getItem("UserId"), '@Model.UserId',@Model.PortalId);
            }
            if ("@address"=="") {
                window.location.href = document.location.origin + "/checkout/ordercheckoutreciept?omsorderid=" + @Model.OmsOrderId;
            }

        })
</script>