﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities;
@model StoreLocatorViewModel

@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<div class="main-wrapper">
    <div class="container">
        <div class="row contain-pages">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title" data-test-selector="lblStoreLocatorTitle">@WebStore_Resources.TitleStoreLocator</h1>
            </div>

            @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="col-xs-12 col-sm-7 col-lg-6 nopadding">
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            @Html.LabelFor(model => model.PostalCode, new { @data_test_selector = "lblPostalCode" })
                        </div>
                        <div class="col-xs-12 nopadding">
                            @Html.TextBoxFor(model => model.PostalCode, new { @data_test_selector = "txtPostalCode" })
                            @Html.ValidationMessageFor(model => model.PostalCode, "", new { @data_test_selector = "lblValPostalCodeErrMsg" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            @Html.LabelFor(model => model.CityName, new { @data_test_selector = "lblCityName" })
                        </div>
                        <div class="col-xs-12 nopadding">
                            @Html.TextBoxFor(model => model.CityName, new { @data_test_selector = "txtCityName" })
                            @Html.ValidationMessageFor(model => model.CityName, "", new { @data_test_selector = "lblValCityNameErrMsg" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            @Html.LabelFor(model => model.StateName, new { @data_test_selector = "lblStateName" })
                        </div>
                        <div class="col-xs-12 nopadding">
                            @Html.TextBoxFor(model => model.StateName, new { @data_test_selector = "txtStateName" })
                            @Html.ValidationMessageFor(model => model.StateName, "", new { @data_test_selector = "lblValStateNameErrMsg" })
                        </div>
                    </div>
                    <div class="col-xs-12 nopadding">
                        <div class="pull-right">
                            <button id="btnSubmit" title="Submit" type="button" value="submit" class="btn-text btn-bg-primary" onclick="initMap()" data-test-selector="btnSubmitLocateStore">@WebStore_Resources.ButtonSubmit</button>
                            @Html.ActionLink(WebStore_Resources.ButtonCancel, "Index", controllerName, new { @class = "btn-text btn-bg-secondary", @data_test_selector = "btnCancelLocateStore" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 nopadding store-locator-block">
                    @if (!Equals(Model, null) && !Equals(Model.PortalList, null) && Model.PortalList.Count > 0)
                    {
                        @Html.Partial("_PortalList", Model.PortalList)

                        <div class="col-xs-12 col-sm-9 nopadding locator-map">
                            <div id="map" style="height:560px;"></div>

                        </div>
                        <div class="col-xs-12 col-sm-3 nopadding locator-info-panel">

                            <div class="form-group">
                                <div class="col-xs-12 nopadding">
                                    @Html.LabelFor(model => model.Radius)
                                </div>
                                <div class="col-xs-12 nopadding">
                                    @Html.DropDownListFor(model => model.Radius, Model.RadiusList, new { @onchange = "StoreLocator.prototype.showDistanceWiseData()" })
                                </div>
                            </div>

                            <div class="form-group">
                                <strong>Mode of Travel: </strong>
                                <select id="mode" onchange="initMap();">
                                    <option value="DRIVING">Driving</option>
                                    <option value="TRANSIT">Transit</option>
                                    <option value="WALKING">Walking</option>
                                    <option value="BICYCLING">Bicycling</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12 nopadding">
                                    <label>Directions</label>
                                </div>
                                <div class="col-xs-12 nopadding">
                                    <div id="right-panel" class="right-side-locator scroll-default"></div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-xs-12 nopadding error-msg">
                    @Html.Label("", Model.ErrorMessage)
                </div>
            }
        </div>
    </div>
</div>
<script src="~/Scripts/Core/Znode/StoreLocatorMap.js"></script>
<!--Keys to be fetched from config file-->
@Html.Hidden("gocoderGoogleAPI", ZnodeWebstoreSettings.ZnodeGocoderGoogleAPI)
@Html.Hidden("gocoderGoogleAPIKey", ZnodeWebstoreSettings.ZnodeGoogleMapKey)
<script async defer src="@ZnodeWebstoreSettings.ZnodeGoogleAPIDomainKey/maps/api/js?key=@(ZnodeWebstoreSettings.ZnodeGoogleMapKey)&callback=initMap" type="text/javascript"></script>