﻿@model Znode.Engine.WebStore.ViewModels.ECertTotalBalanceViewModel
<span> @Html.RenderBlock(string.Format(WebStore_Resources.ECertUserProfileDashboardTotalText, $"<span id='eCertTotalBalanceAmount'>{Helper.FormatPriceWithCurrency(Model.AvailableTotal, Model.CurrencyCode)}</span>"))</span>