﻿@using Znode.WebStore.Custom.ViewModel;
@model ConfigurableProductModel
@{var pricesizelist = Model?.PriceSizeList?.ToList();}
@*<div id="PDPReview" class="col-lg-12 col-xs-12 nopadding product-price-chart margin-top-bottom">
    
    <div class="col-xs-12 col-md-12 col-lg-12 nopadding product-price-background">
        @foreach (var item in pricesizelist)
        {
        <div class="col-lg-4 col-md-6 col-sm-4 col-xs-12 nopadding setwidthcolor">
            <label>@item.Size <span>@Helper.FormatPriceWithCurrency(item.Price,"","")</span></label>
        </div>
        }
    </div>
</div>*@

<div class="col-xs-12 nopadding">
   @* <h4>@WebStore_Resources.LabelSizePriceChart</h4>*@
    <table id="PDPReview" class="table-striped table-bordered margin-bottom" width="50%">
        <tr>
            <th>SIZE</th>
            <th class="text-center">PRICE</th>
        </tr>
        @foreach (var item in pricesizelist)
        {
            <tr>
                <td>@item.Size</td>
                <td class="text-center"><b>@Helper.FormatPriceWithCurrency(item.Price, "", "")</b></td>
            </tr>
        }

    </table>
</div>