﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@*@model Znode.WebStore.Custom.ViewModel.AWCTProductViewModel*@
@using Znode.Engine.WebStore.Agents
@{
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;

}
@*<div class="col-xs-12 margin-top nopadding">
        <z-widget>@Html.WidgetPartial("LinkProductList", "LinkProducts", "1101", "PortalMapping", productId)</z-widget>
        <z-widget>@Html.WidgetPartial("RecentlyViewProduct", "RecentlyViewProduct", "126", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>   
</div>*@
