﻿@model Znode.Engine.WebStore.ViewModels.WidgetTitleListViewModel
@using Znode.Engine.WebStore.Agents
@{
    string imagePath = PortalAgent.CurrentPortal.MediaServerThumbnailUrl;
}
<ul class="link-panel-widget">
    @foreach (var link in Model?.TitleList)
    {
        if (string.IsNullOrEmpty(link.MediaPath) && link.IsActive)
        {
            if (link.IsNewTab)
            {
                <li><a href="@link.Url" target="_blank" data-test-selector="linkInfoList" itemprop="significantLinks" title="@Html.RenderBlock(link.Title)">@Html.RenderBlock(link.Title)</a></li>
            }
            else
            {
                <li><a href="@link.Url" target="_self" data-test-selector="linkInfoList" itemprop="significantLinks" title="@Html.RenderBlock(link.Title)">@Html.RenderBlock(link.Title)</a></li>
            }
        }
        else if (link.IsActive)
        {
            if (link.IsNewTab)
            {
                <li>
                    <a href="@link.Url" target="_blank" itemprop="significantLinks" title="@link.Title">
                        <img class="img-responsive b-lazy" data-src="@imagePath/@link.MediaPath" src="@imagePath/@link.MediaPath" alt="Image" title="@link.Title" data-test-selector="@link.Title" /> 
                        @if (Model.IsImageRequired)
                        {
                            <span>@Html.RenderBlock(link.Title)</span>
                        }
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a href="@link.Url" target="_self" itemprop="significantLinks" title="@link.Title">
                        <img class="img-responsive b-lazy" data-src="@imagePath/@link.MediaPath" src="@imagePath/@link.MediaPath" alt="Image" title="@link.Title" data-test-selector="@link.Title" /> 
                        @if (Model.IsImageRequired)
                        {
                            <span>@Html.RenderBlock(link.Title)</span>
                        }
                    </a>
                </li>
            }

        }
    }
</ul>